@-ms-viewport {
  width: device-width;
}

html,
body {
  height: 100%;
  font-family: 'Raleway', sans-serif;
}

body {
  padding-top: 50px;
  color: #fff;
  background: url("images/coffeebackground.jpeg") no-repeat;
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
}

#portfolio {
  font-family: 'Permanent Marker', cursive;
}

.col-lg-4 {
  margin-bottom: 40px;
}

.shinobi,
.web {
  height: 180px;
}

img {
  width: 100%;
  height: 400px;
}


/* On mouse-over, add a deeper shadow */

.card .front:hover,
.card .back:hover{
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.8);
}


/* Add some padding inside the card container */

.container {
  padding: 2px 16px;
}

.card-container.android {
  height: 480px;
  position: relative;
  perspective: 800px;
}

.card-container.web {
  height: 320px;
  max-height: 480px;
  position: relative;
  perspective: 800px;
}

.card {
  /* Add shadows to create the "card" effect */
  margin: 0 auto;
  transition: 0.3s;
  height: 100%;
  width: 320px;
  /* Set the transition effects */
  -webkit-transition: -webkit-transform 0.4s;
  -moz-transition: -moz-transform 0.4s;
  -o-transition: -o-transform 0.4s;
  transition: transform 0.4s;
  -webkit-transform-style: preserve-3d;
  -moz-transform-style: preserve-3d;
  -o-transform-style: preserve-3d;
  transform-style: preserve-3d;
}

.card.flipped {
  -webkit-transform: rotateY( 180deg);
  -moz-transform: rotateY( 180deg);
  -o-transform: rotateY( 180deg);
  transform: rotateY( 180deg);
}

.card .front,
.card .back {
  height: 100%;
  width: 100%;
  color: #000;
  position: absolute;
   box-shadow: 0 6px 12px 0 rgba(0, 0, 0, 0.5);
  -webkit-backface-visibility: hidden;
  -moz-backface-visibility: hidden;
  -o-backface-visibility: hidden;
  backface-visibility: hidden;
}

.card .front {
  
  background: #fff;
}

.card .back {
  height:480px;
  padding-left: 16px;
  padding-right: 16px;
  background: #fff;

  -webkit-transform: rotateY( 180deg);
  -moz-transform: rotateY( 180deg);
  -o-transform: rotateY( 180deg);
  transform: rotateY( 180deg);
}

p {
  font-size: .9em;
}
b,
p {
  margin-left: 16px;
  margin-right: 16px;
}

.back-button{
  margin-top: 8px;
}

.back-button,
.more-info {
  cursor: pointer;
  background-color: #0275d8;
  /* Green */
  border: none;
  color: white;
  padding: 8px 0px;
  padding text-decoration: none;
  font-size: 12px;
  text-align: center
}





/*navBar CSS*/

.navbar-brand {
  font-size: 1.5em;
}

a {
  text-decoration: none;
  color: #000;
  font-size: 1.5em
}

.navbar {
  border: 0;
  background: #0275d8;
  margin: 0px;
}



.navbar-default .navbar-brand {
  color: #fff;
}

.navbar-default .navbar-nav>li>a {
  color: #fff;
}

.navbar-default .navbar-brand:hover {
  color: #000;
}

.navbar-default .navbar-nav>li>a:hover {
  color: #000;
}

a:hover, a:visited, a:link, a:active
{
    text-decoration: none;
    color:#000;
}



/*Github Codepen button styling*/
a.btn-git,.btn-git:hover{
  font-family: 'Raleway', sans-serif;
  background:rgb(238,238,238);
  color:#000;
}

a.btn-codepen,.btn-codepen:hover{
  font-family: 'Raleway', sans-serif;
  background:#000;
  color:#fff;
}

a.btn-android,.btn-android:hover{
  font-family: 'Raleway', sans-serif;
  color:#a4c639;
  background:rgb(238,238,238);
}


a.btn-website,.btn-website:hover{
  font-family: 'Raleway', sans-serif;
  background:rgb(120, 76, 171);
  color:#000;
}




